@use '@/styles/variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family:
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  background: vars.$color-app-bg;
  min-height: 100vh;
  margin: 0;
}
